{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">

    <ol class="carousel-indicators">

        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

        <li data-target="#myCarousel" data-slide-to="1"></li>

        <li data-target="#myCarousel" data-slide-to="2"></li>

        <li data-target="#myCarousel" data-slide-to="3"></li>

    </ol>

    <div class="carousel-inner" role="listbox">

        <div class="item active">

            <img src="{% static 'app/content/banner1.jpg'%} " alt="Первый слайд" class="img-responsive" />

            <div class="carousel-caption" role="option">

                <p>

                 Скидка 50%

                    <a class="btn btn-default" href="https://www.cyberpunk.net/ru/ru/">
                        Только здесь!

                    </a>

                </p>

            </div>

        </div>

        <div class="item">

            <img src="{% static 'app/content/banner2.jpg'%}" alt="Второй слайд"  class="img-responsive" />

            <div class="carousel-caption" role="option">

                <p>

                    Скидка 90%

                    <a class="btn btn-default" href="https://store.steampowered.com/app/20920/The_Witcher_2_Assassins_of_Kings_Enhanced_Edition/?l=russian">

                      
                        Только здесь!
                    </a>

                </p>

            </div>

        </div>

        <div class="item">

            <img src=" {% static 'app/content/banner3.jpg'%} " alt="Третий слайд"  class="img-responsive" />

            <div class="carousel-caption" role="option">

                <p>

                    Сидка 80%

                    <a class="btn btn-default" href="https://thewitcher.com/ru/witcher3">

                      Только здесь!

                    </a>

                </p>

            </div>

        </div>

    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">

        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>

        <span class="sr-only">Previous</span>

    </a>

    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">

        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>

        <span class="sr-only">Next</span>

    </a>

</div>


<div>
	<h3>О магазине</h3>
	<p>В нашем интернет-магазине вы сможете гарантированно приобрести ключи к играм от Steam, Uplay, Battle.net и прочих популярных игровых платформ. Наш магазин делает все для того, чтобы ваши покупки проходили быстро, с максимальным удобством и безопасностью, а цены оставались максимально доступными.</p>
	<hr></hr>
	</div>

	<h3>Наши преимущества</h3>
	<ul class="homelist">
	<li>Низкие цены (или нет)</li>
	<li>Мгновенные операции</li>
	<li>Широкий выбор</li>
	</ul>
	<br></br>
	<p>Здесь могла быть ваша реклама</p>

{% endblock %}
